# emacs files
*~undo-tree~
# Byte-compiled / optimized / DLL files
__pycache__/
.venv
AppData
*.pdf
*.sh
*.zip
*._*.txt
*._*.csv
./data/trajectories/
*.txt
*.DS_Store
*.csv
*._*

!/data/trajectories/LargeView_zoom_A.txt
!/data/trajectories/LargeView_zoom_O.txt

/data/processed/*.pkl
/data/processed/*.pdf